body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#ffd6e0,#fff1f5);
  text-align: center;
}

/* LOGIN */
.login-box {
  width: 300px;
  margin: 150px auto ;
  background: white;
  padding: 20px;
  border-radius: 16px;
}
.login-box input, .login-box button {
  width: 95%;
  margin: 8px 0;
  padding: 10px;
}

/* HEADER */
header {
  text-align: center;
}
header button {
  margin: 10px auto;
  display: block;
}

/* CONTAINER */
.container {
  width: 90%;
  margin: auto;
}

/* ADMIN CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
}

.card input, .card textarea {
  width: 90%;
  margin: 10px auto;
  display: block;
  padding: 10px;
}

.card button {
  width: 90%;
  margin: auto;
  display: block;
}

/* SEARCH */
.search-box {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#searchInput {
  width: 300px;
  padding: 10px;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* CARD */
.recipe {
  width: 280px;
  background: white;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
}
.recipe img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  overflow-y: auto;
}
.modal-content {
  background: white;
  width: 70%;
  margin: 5% auto;
  padding: 20px;
  border-radius: 20px;
}
#mImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* BUTTONS */
#adminBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  color: 	#F4C2C2;
}
